.ensime
.ensime_cache
.idea*
.idea/*
*.iml
logs/
/data/
/project/project
/project/target
target
tmp
.history
/scripts/*
/bin/
/logs/
/test-result/
/tmp/
/docs/_site
.settings
*idea*
*.pyc
/public/build
.DS_Store
*.orig
Extended*Spec.scala
Local*Spec.scala
Local*ITest.scala
client-cache.*
/app/worksheet/*.sc
atlassian-ide-plugin.xml
conf/local.conf
*.hprof
src/spark/data
/native
